body {
  background-color: tomato;
}
main {
  width: 60vw;

  margin: 100px auto 0 auto;
  display: grid;
  grid-template-columns: 90px 600px;
  gap: 1rem;
}

div#left {
  background-color: blue;
  height: 90px;
  aspect-ratio: 1;
  border-radius: 100%;
  background-image: url("https://api.dicebear.com/9.x/pixel-art/svg?seed=precious");
}
div#right {
  background-color: blanchedalmond;
}
